### MAIN SQUID {{ ENV }} CONFIGURATION ###

## General Cache Settings
cache deny all

## Allow Management Access
http_access allow localhost manager
http_access deny manager
http_access deny to_localhost

# Include External Configuration Files
include /etc/squid/access_rules.conf

# And finally deny all other access to this proxy
http_access deny all

## Squid listens to port 8080
http_port {{ squid_internal }}:{{ squid_port }}

## Logging
access_log /var/log/squid/access.log
access_log syslog:local5.info squid
strip_query_terms off
logfile_rotate 7

## Memory and Disk Cache
cache_mem 64 MB
maximum_object_size 1 MB
read_ahead_gap 64 KB

## Miscellaneous Settings
forwarded_for delete
httpd_suppress_version_string on
shutdown_lifetime 30 seconds

## Refresh Patterns
refresh_pattern ^ftp:       1440    20% 10080
refresh_pattern ^gopher:    1440    0%  1440
refresh_pattern -i (/cgi-bin/|\?) 0 0%  0
refresh_pattern .       0   20% 4320
