### SQUID PROD CONFIG ###

## Internal / VDC subnets only from where access can be allowed
acl localnet src 10.0.0.0/8         # RFC1918 possible internal network
#acl localnet src 172.16.0.0/12      # RFC1918 possible internal network
#acl localnet src 192.168.0.0/16     # RFC1918 possible internal network
acl gcd-bg-all src 10.234.14.0/24   # cdpvdc-bri prd
acl gcd-bg-all src 10.234.78.0/24   # cdpvdc-slo prd
acl gcd-bg-all src 10.234.32.0/24   # skynet-bri prd+stg
acl gcd-bg-all src 10.234.97.0/24   # skynet-slo prd+stg
acl gcd-bg-all src 10.234.79.0/28   # vso-sky-slo prd
acl gcd-bg-all src 10.234.99.0/25   # vso-sky-slo stg
acl gcd-bg-all src 10.234.31.32/27  # gcd-tsf-bri prd
acl gcd-bg-all src 10.234.31.64/27  # gcd-tsf-bri stg
acl gcd-bg-all src 10.234.104.32/27 # gcd-tsf-slo prd
acl gcd-bg-all src 10.234.104.64/27 # gcd-tsf-slo stg
acl gcd-bg-all src 10.234.33.176/28 # gcd-mia-bri prd+stg
acl gcd-bg-all src 10.234.99.176/28 # gcd-mia-slo prd+stg
acl gcd-bg-all src 10.234.31.96/27  # gcd-vodcm-bri prd+stg
acl gcd-bg-all src 10.234.104.96/27 # gcd-vodcm-slo prd+stg

acl SSL_ports port 443
acl HTTP_ports port 443
acl HTTP_ports port 80
acl CONNECT method CONNECT

## Prevent caching jsp, cgi-bin etc
#acl QUERY urlpath_regex cgi-bin \? asp aspx jsp
#acl QUERY urlpath_regex \*
#cache deny QUERY

## Prevent all caching
cache deny all

## Only allow access to GCD BGs in VDC
http_access deny !gcd-bg-all

## Only allow access to the defined safe ports whitelist
http_access deny !HTTP_ports

## Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

## Only allow cachemgr access from localhost
http_access allow localhost manager
http_access deny manager

## We strongly recommend the following be uncommented to protect innocent
## web applications running on the proxy server who think the only
## one who can access services on "localhost" is a local user
http_access deny to_localhost

##
## INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
##

#various GCD BG networks
acl cdpvdc src 10.234.14.0/24
acl cdpvdc src 10.234.78.0/24
acl cdpvdc-bri src 10.234.14.0/24
acl cdpvdc-slo src 10.234.78.0/24

acl skynet-prd src 10.234.32.128/25
acl skynet-prd src 10.234.97.128/25
acl skynet-prd-bri src 10.234.32.128/25
acl skynet-prd-slo src 10.234.97.128/25

acl skynet-stg src 10.234.32.0/25
acl skynet-stg src 10.234.97.0/25
acl skynet-stg-bri src 10.234.32.0/25
acl skynet-stg-slo src 10.234.97.0/25

acl vso-uk-prd-slo src 10.234.79.0/28
acl vso-uk-stg-slo src 10.234.99.0/25

acl gcd-tsf-prd src 10.234.31.32/27
acl gcd-tsf-prd src 10.234.104.32/27
acl gcd-tsf-prd-bri src 10.234.31.32/27
acl gcd-tsf-prd-slo src 10.234.104.32/27

acl gcd-tsf-stg src 10.234.31.64/27
acl gcd-tsf-stg src 10.234.104.64/27
acl gcd-tsf-stg-bri src 10.234.31.64/27
acl gcd-tsf-stg-slo src 10.234.104.64/27

acl gcd-vodcm-prd src 10.234.31.96/28
acl gcd-vodcm-prd src 10.234.104.96/28
acl gcd-vodcm-prd-bri src 10.234.31.96/28
acl gcd-vodcm-prd-slo src 10.234.104.96/28

acl gcd-vodcm-stg src 10.234.31.112/28
acl gcd-vodcm-stg src 10.234.104.112/28
acl gcd-vodcm-stg-bri src 10.234.31.112/28
acl gcd-vodcm-stg-slo src 10.234.104.112/28

acl gcd-bg-prd src 10.234.14.0/24    # cdpvdc-bri prd
acl gcd-bg-prd src 10.234.78.0/24    # cdpvdc-slo prd
acl gcd-bg-prd src 10.234.32.128/25  # skynet-bri prd
acl gcd-bg-prd src 10.234.97.128/25  # skynet-slo prd
acl gcd-bg-prd src 10.234.79.0/28    # vso-uk-slo prd
acl gcd-bg-prd src 10.234.31.32/27   # gcd-tsf-bri prd
acl gcd-bg-prd src 10.234.104.32/27  # gcd-tsf-slo prd
acl gcd-bg-prd src 10.234.33.176/29  # gcd-mia-prd-bri
acl gcd-bg-prd src 10.234.99.176/29  # gcd-mia-prd-slo
acl gcd-bg-prd src 10.234.31.96/28   # gcd-vodcm-prd-bri
acl gcd-bg-prd src 10.234.104.96/28  # gcd-vodcm-prd-slo

acl gcd-bg-stg src 10.234.14.0/24    # cdpvdc-bri prd
acl gcd-bg-stg src 10.234.78.0/24    # cdpvdc-slo prd
acl gcd-bg-stg src 10.234.32.0/25    # skynet-bri stg
acl gcd-bg-stg src 10.234.97.0/25    # skynet-slo stg
acl gcd-bg-stg src 10.234.99.0/25    # vso-uk-slo stg
acl gcd-bg-stg src 10.234.31.64/27   # gcd-tsf-bri stg
acl gcd-bg-stg src 10.234.104.64/27  # gcd-tsf-slo stg
acl gcd-bg-stg src 10.234.33.184/29  # gcd-mia-stg-bri
acl gcd-bg-stg src 10.234.99.184/29  # gcd-mia-stg-slo
acl gcd-bg-stg src 10.234.31.112/28  # gcd-vodcm-stg-bri
acl gcd-bg-stg src 10.234.104.112/28 # gcd-vodcm-stg-slo

## Explicit rules allowing access from your selected networks starts from here
## Below 3 debug rules allow access to entire source groups. Do not uncomment except testing
#http_access allow localnet
#http_access allow localhost
#http_access allow gcd-bg-all

#all production hosts access to software repositories
acl sw-repos dstdomain .centos.org
acl sw-repos dstdomain .opsview.com    # downloads.opsview.com
acl sw-repos dstdomain .bllab.uk       # grimrepo.st.bllab.uk
acl sw-repos dstdomain .bskyb.com      # upsat010.bskyb.com oesatellite.bskyb.com
acl sw-repos dstdomain .comcast.net    # yum.cdn.comcast.net
acl sw-repos dstdomain .influxdata.com # repos.influxdata.com
http_access allow gcd-bg-prd sw-repos

#all production hosts access to GCD aws elastic cache registry, api, s3 in eu-west-1/2
acl gcd-aws-ecr dstdomain .amazonaws.com
http_access allow gcd-bg-prd gcd-aws-ecr

#all production hosts access to Docker repo/registry
acl docker-hub dstdomain .docker.com
acl docker-hub dstdomain .docker.io
http_access allow gcd-bg-prd docker-hub

#all production hosts access to slack webhook
acl slack-api dstdomain .slack.com # hooks.slack.com
http_access allow gcd-bg-prd slack-api

#all production hosts access to python repo
acl python-repo dstdomain .pypi.org         # pypi.org
acl python-repo dstdomain .pythonhosted.org # files.pythonhosted.org
acl python-repo dstdomain .python.org       # pypi.python.org
http_access allow gcd-bg-prd python-repo

#all production hosts access to CAG alerting endpoint
acl cag-ep dstdomain .alerting.monitoringsolutions.sky
http_access allow gcd-bg-prd cag-ep

#cdpvdc/tsf-prd access to TS-EP
acl ts-api dstdomain .touchstream.global # portal-api.touchstream.global
http_access allow cdpvdc ts-api
http_access allow gcd-tsf-prd ts-api

#cdpvdc/tsf-prd access to merlin and media-ds domains
acl merlin-api dstdomain .codebig2.net
acl media-ds-api dstdomain .theplatform.com
http_access allow cdpvdc merlin-api
http_access allow cdpvdc media-ds-api
http_access allow gcd-tsf-prd merlin-api
http_access allow gcd-tsf-prd media-ds-api

#cdpvdc access to gz-vq, csi-vq domains / ansible webhook
acl gz-vq_csi-vq dstdomain imageservice.disco.peacocktv.com
acl gz-vq_csi-vq dstdomain uk.imageservice.sky.com
acl ansible-api dstdomain .ansible.com # galaxy.ansible.com
http_access allow cdpvdc gz-vq_csi-vq
http_access allow cdpvdc ansible-api

#cdpvdc-jenkins access to jenkins-api / git
acl gcd-jenkins src 10.234.14.1
acl gcd-jenkins src 10.234.78.6
acl jenkins-api dstdomain .jenkins.io # plugins.jenkins.io
acl git-repos dstdomain .github.com
acl git-repos dstdomain git.bskyb.com
http_access allow gcd-jenkins jenkins-api
http_access allow gcd-jenkins git-repos

#cdpvdc/tsf-prd access to LCM-EP
acl lcm-api dstdomain lcm-internal-gtm.ovp.prod.ott.sky
http_access allow cdpvdc lcm-api
http_access allow gcd-tsf-prd lcm-api

#cdpvdc/skynet-prd access to maxmind
acl maxmind-downloads dstdomain .maxmind.com
http_access allow skynet-prd maxmind-downloads
http_access allow cdpvdc maxmind-downloads

## And finally deny all other access to this proxy
http_access deny all

## Squid listens to port 8080
http_port {{ squid_internal }}:{{ squid_port }}
## If you have multiple interfaces you can specify to listen on one IP like this:
#http_port 1.2.3.4:8080

## Uncomment and adjust the following to add a disk cache directory.
## 1024 is the disk space to use for cache in MB, adjust as you see fit!
## Default is no disk cache
#cache_dir ufs /var/cache/squid 1024 16 256
## Better, use 'aufs' cache type, see
##http://www.squid-cache.org/Doc/config/cache_dir/ for info.
#cache_dir aufs /var/cache/squid 1024 16 256
## Recommended to only change cache type when squid is stopped, and use 'squid -z' to
## ensure cache is (re)created correctly

## Leave coredumps in the first cache dir
#coredump_dir /var/cache/squid

## Where does Squid log to?
access_log /var/log/squid/access.log
access_log syslog:local5.info squid

## Use the below to turn off access logging
#access_log none
## When logging, web auditors want to see the full uri, even with the query terms
strip_query_terms off
## Keep 7 days of logs
logfile_rotate 7

## How much RAM, in MB, to use for cache? Default since squid 3.1 is 256 MB
cache_mem 64 MB

## Maximum size of individual objects to store in cache
maximum_object_size 1 MB

## Amount of data to buffer from server to client
read_ahead_gap 64 KB

## Use X-Forwarded-For header?
## Some consider this a privacy/security risk so it is often disabled
## However it can be useful to identify misbehaving/problematic clients
#forwarded_for on
forwarded_for delete

## Suppress sending squid version information
httpd_suppress_version_string on

## How long to wait when shutting down squid
shutdown_lifetime 30 seconds

## Replace the User Agent header.  Be sure to deny the header first, then replace it :)
#request_header_access User-Agent deny all
#request_header_replace User-Agent Mozilla/5.0 (Windows; MSIE 9.0; Windows NT 9.0; en-US)

## What hostname to display? (defaults to system hostname)
#visible_hostname a_proxy

## Use a different hosts file?
#hosts_file /path/to/file

## Add any of your own refresh_pattern entries above these.
refresh_pattern ^ftp:       1440    20% 10080
refresh_pattern ^gopher:    1440    0%  1440
refresh_pattern -i (/cgi-bin/|\?) 0 0%  0
refresh_pattern .       0   20% 4320
