{% extends 'base.html' %}

{% block content %}
  
<div class="lead container-fluid">
  <h1>CLIENT RULES</h1>
</div>

<div class="bg-light container-fluid">
  <table id=client_prd class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ACTION</th>
        <th scope="col">SRC</th>
        <th scope="col">DST</th>
        <th scope="col">DST_port</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for x, i in enumerate(client_prd_rules) %}
        <tr>
          <td> {{ x + 1 }} </td>
          <td> {{ i['action'] }} </td>
          <td> {{ i['SRC'] }} </td>
          <td> {{ i['DST'] }} </td>
          <td> {{ i['DST_port'] }} </td>
          <td>  </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="lead container-fluid">
  <h1>SOCKS RULES</h1>
</div>

<div class="bg-light container-fluid">
  <table id=socks_prd class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ACTION</th>
        <th scope="col">SRC</th>
        <th scope="col">DST</th>
        <th scope="col">DST_port</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for x, i in enumerate(socks_prd_rules) %}
        <tr>
          <td> {{ x + 1 }} </td>
          <td> {{ i['action'] }} </td>
          <td> {{ i['SRC'] }} </td>
          <td> {{ i['DST'] }} </td>
          <td> {{ i['DST_port'] }} </td>
          <td> {{ i['command'] }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
