{% extends 'base.html' %}
{% from 'macros.html' import render_dante_rule %}
{% block content %}
  
<div class="lead container-fluid">
  <h1>CLIENT RULES</h1>
</div>

<div class="bg-light container-fluid">
  <table id=client_stg class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ACTION</th>
        <th scope="col">SRC</th>
        <th scope="col">DST</th>
        <th scope="col">DST_port</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      {% for x, i in enumerate(client_stg_rules) %}
        {{ render_dante_rule(i, x, 'client') }}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="lead container-fluid">
  <h1>SOCKS RULES</h1>
</div>

<div class="bg-light container-fluid">
  <table id=socks_stg class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ACTION</th>
        <th scope="col">SRC</th>
        <th scope="col">DST</th>
        <th scope="col">DST_port</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      {% for x, i in enumerate(socks_stg_rules) %}
        {{ render_dante_rule(i, x, 'socks') }}
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
