{% macro render_squid(section, index, type, expanded=False) %}
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading{{ type }}{{ index }}">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse{{ type }}{{ index }}" aria-expanded="{{ 'true' if expanded else 'false' }}" aria-controls="collapse{{ type }}{{ index }}">
          {% if section %}
            {% if section.get('tags') %}
              <span class="font-weight-bold">NOT</span> {{ section.get('name', 'Unknown') }}
            {% else %}
              {{ section.get('name', 'Unknown') }}
            {% endif %}
          {% else %}
            ANY
          {% endif %}
        </a>
      </h5>
    </div>
    <div id="collapse{{ type }}{{ index }}" class="collapse{% if expanded %} show{% endif %}" role="tabpanel" aria-labelledby="heading{{ type }}{{ index }}">
      <div class="card-body">
        {% if section %}
          {% for value in section.get('vals', []) %}
            {{ " ".join(value) }}<br>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_squid_rule(rule, index) %}
<tr>
  <td scope="row">{{ index + 1 }}</td>
  <th scope="row">{{ rule['action'] }}</th>
  <td>
    {{ render_squid(rule.get('src', {}), index, 'Src') }}
  </td>
  <td>
    {{ render_squid(rule.get('dst', {}), index, 'Dst') }}
  </td>
  <td>
    {{ render_squid(rule.get('dst_port', {}), index, 'DstPort') }}
  </td>
  <td>
    {{ render_squid(rule.get('http_method', {}), index, 'HttpMethod') }}
  </td>
</tr>
{% endmacro %}

{% macro render_dante(section, index, type, table, expanded=False) %}
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading{{ type }}{{ index }}{{ table }}">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse{{ type }}{{ index }}{{ table }}" aria-expanded="{{ 'true' if expanded else 'false' }}" aria-controls="collapse{{ type }}{{ index }}{{ table }}">
          {% if section %}
            {{ section[0] }}
          {% else %}
            RULE
          {% endif %}
        </a>
      </h5>
    </div>
    <div id="collapse{{ type }}{{ index }}{{ table }}" class="collapse{% if expanded %} show{% endif %}" role="tabpanel" aria-labelledby="heading{{ type }}{{ index }}{{ table }}">
      <div class="card-body">
        {% if section %}
          {% for value in section %}
            {{ "".join(value) }}<br>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_dante_rule(rule, index, table) %}
<tr>
  <td scope="row">{{ index + 1 }}</td>
  <th scope="row">{{ rule['action'] }}</th>
  <td>
    {{ render_dante(rule.get('SRC', {}), index, 'Src', table) }}
  </td>
  <td>
    {{ render_dante(rule.get('DST', {}), index, 'Dst', table) }}
  </td>
  <td>
    {{ render_dante(rule.get('DST_port', {}), index, 'DstPort', table) }}
  </td>
  <td>
    {{ render_dante(rule.get('command', {}), index, 'Command', table) }}
  </td>
</tr>
{% endmacro %}
