{% macro render_section(section, index, type, expanded=False) %}
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading{{ type }}{{ index }}">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse{{ type }}{{ index }}" aria-expanded="{{ 'true' if expanded else 'false' }}" aria-controls="collapse{{ type }}{{ index }}">
          {% if section %}
            {% if section['tags'] %}
              <span class="font-weight-bold">NOT</span> {{ section['name'] }}
            {% else %}
              {{ section['name'] }}
            {% endif %}
          {% else %}
            ANY
          {% endif %}
        </a>
      </h5>
    </div>
    <div id="collapse{{ type }}{{ index }}" class="collapse{% if expanded %} show{% endif %}" role="tabpanel" aria-labelledby="heading{{ type }}{{ index }}">
      <div class="card-body">
        {% if section %}
          {% for j in section['vals'] %}
            {{ " ".join(j) }}<br>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_rule(rule, index) %}
<tr>
  <td scope="row">{{ index + 1 }}</td>
  <th scope="row">{{ rule['action'] }}</th>
  <td>
    {{ render_section(rule['src'], index, 'Src', expanded=False) }}
  </td>
  <td>
    {{ render_section(rule['dst'], index, 'Dst', expanded=False) }}
  </td>
  <td>
    {{ render_section(rule['dst_port'], index, 'DstPort', expanded=False) }}
  </td>
  <td>
    {{ render_section(rule['http_method'], index, 'HttpMethod', expanded=False) }}
  </td>
</tr>
{% endmacro %}