{% extends 'base.html' %}
{% from 'macros.html' import render_rule %}
{% block content %}
  
<div class="bg-light container-fluid">
  <table id=squid_stg class="table table-sm table-hover" data-toggle="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ACTION</th>
        <th scope="col">SRC</th>
        <th scope="col">DST</th>
        <th scope="col">DST_port</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for x, i in enumerate(squid_stg_rules) %}
        {{ render_rule(i, x) }}
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
